@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-obsidian: #141425;
  --color-amber: #D4880A;
  --color-charcoal: #2D2D2D;
  --color-forge-white: #E8E4DE;

  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;
  --font-mono: var(--font-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
